header {
    height: 100 vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}

/* CTA Styling Below */

.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* Socials Styling Below */

.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header__socials::after {
    content: "";
    width: 1px;
    height: 2rem;
    background-color: var(--color-primary);
}

/* Image Styles Below */

.me {
    background: linear-gradient(var(--color-primary),transparent);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22rem;
    height: 30rem;
    margin: 4rem auto 0;
    border-radius: 12rem 12rem 0 0;
  }
  
  /* The below code ensures that the image is responsive */

  @media screen and (max-width: 600px) {
    .me {
      width: 16rem;
      height: 22rem;
    }
  }

  /* Scroll Down */

  .scroll__down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
  }

/* Media Queries For Small Devices */

@media screen and (max-width: 600px) {

    .header__socials,
    .scroll__down {
        display: none;
    }

}

/* Media Queries For Medium Devices */

@media screen and (max-width: 1024px) {
    /* header {
        height: 68vh;
    } */
}
        